/* AboutPage.css */

body {
  background-color: #ffebee; /* Arrière-plan rose clair */
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.about-page {
  background-color: white; /* Fond blanc pour le contenu principal */
  color: #333; /* Couleur du texte */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 40px auto; /* Ajouter de l'espace en haut pour centrer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-page h2 {
  color: #c2185b; /* Couleur du titre */
  text-align: center;
}

.about-page h3 {
  color: #e91e63; /* Couleur des sous-titres */
  margin-top: 20px;
}

.about-page ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-page ul li {
  margin: 10px 0;
}

.about-page p, .about-page li {
  line-height: 1.6;
}

.about-page a {
  color: #e91e63;
  text-decoration: none;
}

.about-page a:hover {
  text-decoration: underline;
}